.relatedCards {
  display: flex;
  flex-direction: row;
}

.favorite :hover {
  fill: yellow;
}

.outfitCards {
  display: flex;
  flex-direction: row;
}

.FeatureModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
